.dashboard,
.calendarContainer {
  width: 100%;
  opacity: 1;
  transition: 0.25s opacity;
  background-color: #2e548e;
}
.contentContainer {
  backface-visibility: hidden;
}
.calendarContainer, .calendarContainerInitial {
  backface-visibility: hidden;
  margin: 0 auto;
  width: 800px;
  padding-top: 70px;
  background-color: #f5f4ed;
}
.dashboardInitial,
.calendarContainerInitial {
  opacity: 0;
  transition: 0.25s opacity;
}
.dashboard header{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
}
.navbar {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: border-box;
  background-color: #4795f3;
  color: #f5f4ed;
  padding: 10px;
  padding-right: 26px;
}
.welcomeUser {
  display: flex;
  height: 50px;
  align-items: center;
  overflow: hidden;
}
.buttonsUser {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dashSetBTN {
  border: 2px solid white;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
.dateContainer,
.dateContainerInitial {
  overflow: hidden;
  position: Relative;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  background-color: #f5f4ed;
  color: #2e548e;
  transition: 0.25s opacity;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.dateContainer {
  opacity: 1;
}
.dateContainerInitial {
  opacity: 0;
}
.dateActive {
  border: 2px solid rebeccapurple;
}
.dateActive .createTask {
  height: unset;
}
.dateOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.dateActive .dateOverlay {
  z-index: 2;
}
.dateValue {
  position: relative;
  z-index: 3;
  border-bottom: 2px solid #2e548e;
}
.dateValue {
  font-weight: bold;
}
.userInfo {
  display:flex;
  height:50px;
  margin-top:10px;
}
.settingsTitle {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  width:100px;
}

.inputContainer {
  display:grid;
  grid-template-columns:1fr 300px;
}
.settingsButtonContainer {
  display: flex;
}
.inputContainer input {
  width: 200px;
  font-family: unset;
  box-sizing: border-box;
}
.settingsContainer form {
  display: grid;
  grid-template-rows:auto auto auto auto 1fr;
  justify-content: center;
  align-items: center;
}
.settingsContainer {
  display: grid;
  color: #2e548e;
  grid-template-rows: 70px auto;
  grid-template-columns: 100%;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 70px;
  background-color: #f5f4ed;
}
.settingsContainer h1 {
  text-align: center;
}
.settingsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4ed;
  color: #4795f3;
  border: 2px solid #4795f3;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
}

.settingsButton:hover {
  background-color: #4795f3;
  color: #f5f4ed;
  border: 2px solid #4795f3;
  cursor: pointer;
}
.settingsPasswordButton{
  width:150px;
}
.readOnly {
  background-color: rgb(224, 224, 224);
}
.userPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:2px solid #2e548e;
  margin-top:20px;
  padding-top:20px;
}
.updatePasswordBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  margin-top: 10px;
  padding: 10px;
}
.dashSetBTN {
  width: 100px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}
.dashSetBTN:hover {
  color: #4795f3;
  background-color: #f5f4ed;
  transition: background-color 0.2s, color 0.2s;
}
.lazyload-wrapper,
.lazyload-placeholder {
  background-color: #f5f4ed;
}

.datePicker {
  position: fixed;
  z-index: 20;
  top: 70px;
}
@media only screen and (max-width:720px) and (orientation:portrait){
  .calendarContainer, .settingsContainer{
    width:100%;
  }
  .navbar{
    grid-template-columns: auto auto;
    font-size:12px;
    padding-right:10px;
  }
  .taskButton, .dashSetBTN, .settingsButton{
    width:60px;
    height:10px;
    padding:5px;
    font-size:10px;
    margin-right:5px;
  }
  .settingsButton{
    font-size:10px;
  }
  .settingsContainer{
    padding:10px;
    padding-top:70px;
    width:100%;
    font-size:12px;
  }
  .settingsContainer, .settingsContainer form, .userInfo, .settingsTitle, .inputContainer{
    display:block;
    height:unset;
  } 
  .passwordContainer{
    width:100%;
    font-size:12px;
  }
  .userInfo{
    height:unset;
  }
  .settingsTitle{
    text-align: left;
    width:100%;
  }
  .settingsButton{
    margin:0;
    margin-top:10px;
    margin-right: 10px;
  }
  .settingsPasswordButton{
    text-align: center;
    height:30px;
  }
}