body {
  margin: 0;
  background-color: #eaeeee;
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/dot-grid.png");
}
.container {
  color: #2c4252;
}
.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(90deg, #2c4252 0%, #2c4252 35%, #7ae4dc 100%);
  animation: 2s spinOuter infinite ease-in-out;
  padding: 5px;
}
.loadingContainer {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-row-start: 2;
}
.loadingBlank {
  border-radius: 50%;
  background-color: #eaeeee;
  width: 90px;
  height: 90px;
  padding: 5px;
  overflow: hidden;
}
.loadingInner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(90deg, #2c4252 0%, #2c4252 35%, #7ae4dc 100%);
  animation: 2s spinInner infinite ease-in-out;
  padding: 5px;
  background-clip: padding-box;
}
.loadingInnerBlank {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eaeeee;
}
.loadingInnerBlankSlice {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid #eaeeee;
  margin-bottom: 20px;
}
@keyframes spinOuter {
  to {
    transform: rotate(720deg);
  }
}
@keyframes spinInner {
  to {
    transform: rotate(-1440deg);
  }
}

.CalendarDate {
}

.dateContainer {
  overflow: hidden;
  position: Relative;
  padding: 25px;
  margin: 0 auto;
  width: 1000px;
  font-size: 16px;
}
.dateActive {
  border: 2px solid rebeccapurple;
}
.dateActive .createTask {
  height: unset;
}
.taskDesc {
  margin-top: 50px;
  margin-bottom: 50px;
}
.dateOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.dateActive .dateOverlay {
  z-index: 2;
}
.taskDesc,
.dateValue {
  position: relative;
  z-index: 3;
}
.dateValue {
  font-weight: bold;
}

.tasks li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.task,
.taskDesc,
.signUpForm input,
.loginForm input {
  border: 0.5px solid gray;
  cursor: pointer;
  padding: 10px;
  color: gray;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.task:hover {
  border-color: black;
  color: black;
}
.taskDesc {
  width: 978px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 19px;
  resize: none;
  overflow: hidden;
  margin: 0;
  cursor: text;
}
.tasks {
  list-style: none;
  padding: 0;
}
.newTask {
  cursor: pointer;
}
.taskComplete .task,
.taskComplete {
  border-color: green;
  color: green;
}

.taskComplete .task:hover {
  border-color: rgb(4, 252, 4);
  color: rgb(4, 252, 4);
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.createTask button,
.ModifyTask button {
  background-color: #7ae4dc;
  border: 2px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
}
.createTask button:hover,
.ModifyTask button:hover {
  background-color: #254542;
  color: white;
}
.signUpContainer,
.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.signUp,
.login {
  border: 2px solid gray;
  border-radius: 25px;
  padding: 25px;
  height: 600px;
  width: 400px;
  display: grid;
  grid-template-rows: 25% 50% 25%;
}
.signUp h2,
.login h2,
.login h3 {
  text-align: center;
}
.signUpForm,
.loginForm {
  width: 100%;
}
.signUpForm input,
.loginForm input {
  width: 100%;
  box-sizing: border-box;
}
.signUpForm .submitButton,
.loginForm .submitButton {
  background-color: #7ae4dc;
  color: #2c4252;
}

.signUpForm .submitButton:hover,
.loginForm .submitButton:hover {
  background-color: #2c4252;
  color: #eaeeee;
}
.signUpForm .submitButton:active,
.loginForm .submitButton:active {
  transform: scale(10%);
}
.error {
  color: rgb(158, 1, 1);
  margin-bottom: 10px;
}
.loginFade{
  opacity:0;
  transition:0.5s all;
}

