html{
}
body {
  margin: 0;
  background-color: #f5f4ed;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.container {
  color: #2c4252;
}
.task:hover {
  border-color: black;
  color: black;
}
.tasks {
  list-style: none;
  padding: 0;
  margin:0;
  margin-top:10px;
}
.newTask {
  cursor: pointer;
}
.taskComplete .task,
.taskComplete {
  border-color: green;
  color: green;
}

.taskComplete .task:hover {
  border-color: rgb(4, 252, 4);
  color: rgb(4, 252, 4);
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fade-enter {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s opacity;
}
.fade-enter-active {
  opacity: 1;
  transition: 0.5s opacity;
}
.fade-enter-done {
  opacity: 1;
  transition: 0.5s opacity;
}

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s opacity;
}
.fade-exit-active {
  opacity: 0;
  transition: 0.5s opacity;
}
.fade-exit-done {
  opacity: 0;
  transition: 0.5s opacity;
}
