.taskButtonContainer {
  opacity: 1;
  transition: 0.5s all;
}
.taskButtonContainerInitial {
  opacity: 0;
  top: -45px;
  transition: 0.5s all;
}
.task, .createTask{
  margin-top:10px;
  margin-bottom:10px;
}
.task, .taskDesc{
  height:19px;
  border: 0.5px solid gray;
  cursor: pointer;
  padding: 10px;
  color: gray;
  border-radius: 10px;
}
.task{
  transition:height 0.5s;
}
.ModifyTask button {
  margin: 0;
  margin-left: 5px;
}
.taskContainer{
    transition:0.5s height;
}
.dateContainer{
  border-left:2px rgb(219, 219, 219) solid;
  border-right:2px rgb(219, 219, 219) solid;
}
.dateContainer, .login{
  background-color:rgba(255,255,255);
}
.createTask{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
}
.taskDesc li{
  margin-top:10px;
  margin-bottom:10px;
}
.taskDesc{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 19px;
  resize: none;
  overflow: hidden;
  cursor: text;
  grid-area: 1 / 1 / span 1 / span 5;
}
.counter{
  grid-area: 3 / 1;
}
.createTask button{
  margin-top:10px;
  margin-bottom:10px;
}