.createTask {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}
.taskDesc {
  margin-top: 10px;
}
.taskButtonContainer {
  opacity: 1;
  transition: 0.5s all;
  display: flex;
}
.taskButtonContainerInitial {
  opacity: 0;
  top: -45px;
  transition: 0.5s all;
}

.taskButton {
  background-color: #4795f3;
  color: #f5f4ed;
  border: 2px solid #2e548e;
  width: 100px;
  height: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s;
  margin: 10px 10px 10px 0;
}

.taskButton:hover {
  background-color: #6175c3;
  transition: background-color 0.15s;
}

.task {
  margin-top: 10px;
  margin-bottom: 10px;
}
.task,
.taskDesc {
  min-height: 20px;
  border: 0.5px solid #2e548e;
  cursor: pointer;
  padding: 10px;
  color: #2e548e;
  border-radius: 10px;
}
.taskCompleted{
  border: 0.5px solid green;
  color: green;
  opacity:0.5;
}
.task {
  transition: height 0.5s;
}
.ModifyTask button {
  margin: 0;
  margin-left: 5px;
}
.taskContainer {
  transition: 0.5s height;
}
.taskDesc li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.taskDesc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  resize: none;
  word-break:break-word;
  white-space: pre-wrap;
  cursor: text;
  grid-area: 1 / 1 / span 1 / span 5;
  scrollbar-width: thin;
}
.taskDesc::-webkit-scrollbar {
  width: 12px;
}
.taskDesc::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4795f3;
}
ul .taskDesc:hover {
  cursor: pointer;
  border: 0.5px solid #4795f3;
  color: #4795f3;
  opacity:1;
}
.counter {
  grid-area: 3 / 1;
}
.createTask button {
  margin-top: 10px;
  margin-bottom: 10px;
}
